.App {
  text-align: center;
  background-color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Chat-messages {
  flex: 1;
  overflow-y: auto;
}

.Chat-message-user {
  padding: 10px;
  margin: 5px 20px 5px 50%;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.Chat-message-bot {
  padding: 10px;
  margin: 10px 50% 20px 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.Chat-input {
  display: flex;
  padding: 50px;
}

.Chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Chat-input button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.Chat-input button:hover {
  background-color: #0056b3;
}

